# -------------------------------step 0

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO0
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO0

# --------------------------------step1

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO1
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO1

# ---------------------------------step2

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO2
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO2

# ---------------------------------step3

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO3
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO3

# ---------------------------------step4

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO4
WIZARD_STEP_SELECT WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO4 ITEM=5D_spiral
WIZARD_STEP_SELECT WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO4 ITEM=5D_spiral_full
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO4

# ---------------------------------step5

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5
WIZARD_STEP_JOG WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5 AXIS=x DIRECTION=0
WIZARD_STEP_JOG WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5 AXIS=y DIRECTION=0
WIZARD_STEP_JOG WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5 AXIS=z DIRECTION=0
WIZARD_STEP_SET_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5 VALUE=1
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO5

# # ---------------------------------step6

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO6
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO6

# ---------------------------------step7

EXECUTE_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO7
CANCEL_WIZARD_STEP WIZARD=ADJUST_BASEMENT_AUTO STEP=ADJUST_BASEMENT_AUTO7
