[wizard CHANGE_MATERIAL]
# image path
image: wizards/change_material/change_material.jpg
# 5d, 3d, any
type: any
# all steps
steps: CHANGE_MATERIAL0, CHANGE_MATERIAL1, CHANGE_MATERIAL2, CHANGE_MATERIAL3, CHANGE_MATERIAL4, CHANGE_MATERIAL5, CHANGE_MATERIAL6, CHANGE_MATERIAL7, CHANGE_MATERIAL8, CHANGE_MATERIAL9, CHANGE_MATERIAL10, , CHANGE_MATERIAL11
# variable
variable_selected_e: 'extruder'
variable_action: 'all'
variable_material: 'another'

# ---------------------------------------------------------------------------step0

[wizard_step CHANGE_MATERIAL0]
image: wizards/change_material/change_material.jpg
landscape: false
description: This wizard will help you to change insert or remove the material
warning: Missing extruder
countdown: 0
info: none
action_gcode:
    SET_WIZARD_ENABLE WIZARD={wizard.name} ENABLE=1
    {% if printer.extruder and printer.extruder1 %}
        {action_respond_info('-------------------action_gcode %s, extruder > 1' % (wizard.wizard_step_name, ))}
        SET_WIZARD_STEP WIZARD=CHANGE_MATERIAL STEP=CHANGE_MATERIAL1
    {% else %}
        {action_respond_info('-------------------action_gcode %s, extruder == 1' % (wizard.wizard_step_name, ))}
        SET_WIZARD_STEP WIZARD=CHANGE_MATERIAL STEP=CHANGE_MATERIAL2
        ACTIVATE_EXTRUDER EXTRUDER=extruder
    {% endif %}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}

# ---------------------------------------------------------------------------step1

[wizard_step_selector CHANGE_MATERIAL1]
image: wizards/change_material/change_material01.jpg
landscape: false
description: Select the extruder where you want change the material
warning: none
countdown: 0
info: none
items: extruder, extruder1
action_gcode:
    {% set selected_e = printer['wizard_step_selector CHANGE_MATERIAL1'].selected %}
    {action_respond_info('-------------------wizard_step_selector %s, selected_e=%s' % (wizard.wizard_step_name, selected_e))}
    ACTIVATE_EXTRUDER EXTRUDER={selected_e}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL2
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}
select_gcode:
    {action_respond_info('-------------------select_gcode %s selected=%s, wizard=%s' % (wizard.wizard_step_name, selected, wizard.name))}
    SET_WIZARD_VARIABLE WIZARD={wizard.name} VARIABLE=selected_e VALUE={selected}

# ---------------------------------------------------------------------------step2

[wizard_step_selector CHANGE_MATERIAL2]
image: wizards/change_material/change_material02.jpg
landscape: false
description: Select the needed action
warning: none
countdown: 0
info: none
items: insert, eject, all
action_gcode:
    {% set action = printer['wizard CHANGE_MATERIAL'].action %}
    {action_respond_info('-------------------wizard_step_selector CHANGE_MATERIAL2 action=%s' % action)}
    {% if action == 'insert' %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL7
    {% else %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL3
    {% endif %}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode CHANGE_MATERIAL_2')}
    RESET_WIZARD WIZARD={wizard.name}
select_gcode:
    {action_respond_info('-------------------select_gcode CHANGE_MATERIAL2 selected=%s, wizard=%s' % (selected, wizard.name))}
    SET_WIZARD_VARIABLE WIZARD={wizard.name} VARIABLE=action VALUE={selected}

# ---------------------------------------------------------------------------step3

[wizard_step_selector CHANGE_MATERIAL3] # component: 'material-selector',
image: wizards/change_material/change_material02.jpg
landscape: false
description: Select Current Material
warning: none
countdown: 0
info: none
items: another, Stereotech
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name, ))}
    {% set material = printer['wizard_step_selector CHANGE_MATERIAL3'].selected %}
    {action_respond_info('-------------------action_gcode %s, material=%s' % (wizard.wizard_step_name, material))}
    {% if material == 'another' %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL4
    {% elif material == 'Stereotech' %}
        # load data end set temperature
        # SET_HEATER_TEMPERATURE HEATER=extruder TARGET={current_value}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL5
    {% endif %}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}
select_gcode:
    {action_respond_info('-------------------select_gcode %s selected=%s, wizard=%s' % (wizard.wizard_step_name, selected, wizard.name))}

# ---------------------------------------------------------------------------step4

[wizard_step_slider CHANGE_MATERIAL4]
image: wizards/change_material/change_material02.jpg
landscape: false
description: Select unloading temperature
warning: none
countdown: 0
info: none
slider_slider1_min: 150
slider_slider1_max: 300
slider_slider1_step: 5
slider_slider1_default: 240
action_gcode:
    {% set current_value = printer["wizard_step_slider CHANGE_MATERIAL4"].slider1|int %}
    {action_respond_info('-------------------action_gcode %s,  current_value=%s' % (wizard.wizard_step_name, current_value))}
    SET_HEATER_TEMPERATURE HEATER={printer.toolhead.extruder} TARGET={current_value}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL5
    M109 S{current_value}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}

# ---------------------------------------------------------------------------step5

[wizard_step_button CHANGE_MATERIAL5]   # !!!!!!! placeholder: 'wizard-step-preheat',
image: wizards/change_material/change_material03.jpg
landscape: false
description: Click Unload button and wait for material unloading and remove the spool If it is needed you could press Unload button to repeat unloading
warning: none
countdown: 0
info: none
action_gcode:
    {% set action = printer['wizard CHANGE_MATERIAL'].variables.action %}
    {action_respond_info('-------------------action_gcode %s, action=%s' % (wizard.wizard_step_name, action))}
    M109 S{current_value}
    {% if action == 'remove' %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL #111111111111111111111111111111111111111111111111
    {% else %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL6
    {% endif %}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % wizard.wizard_step_name)}
    RESET_WIZARD WIZARD={wizard.name}
button_unload_gcode:
    {action_respond_info('-------------------button_eject_gcode')}
    EJECT_MATERIAL
button_load_gcode:
    {action_respond_info('-------------------button_load_gcode')}
    LOAD_MATERIAL

# ---------------------------------------------------------------------------step6

[wizard_step_selector CHANGE_MATERIAL6] # component: 'material-selector',
image: wizards/change_material/change_material02.jpg
landscape: false
description: Select loaded material
warning: none
countdown: 0
info: none
items: another, Stereotech
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name, ))}
    {% set material = printer['wizard_step_selector CHANGE_MATERIAL6'].selected %}
        {action_respond_info('-------------------action_gcode %s, material=%s' % (wizard.wizard_step_name, material))}
    {% if material == 'another' %}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL7
    {% elif material == 'Stereotech' %}
        # load data end set temperature
        # SET_HEATER_TEMPERATURE HEATER=extruder TARGET={current_value}
        SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL8
    {% endif %}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}
select_gcode:
    {action_respond_info('-------------------select_gcode %s selected=%s, wizard=%s' % (wizard.wizard_step_name, selected, wizard.name))}

# ---------------------------------------------------------------------------step7

[wizard_step_slider CHANGE_MATERIAL7]
image: wizards/change_material/change_material02.jpg
landscape: false
description: Select loading temperature
warning: none
countdown: 0
info: none
slider_slider1_min: 150
slider_slider1_max: 300
slider_slider1_step: 5
slider_slider1_default: 240
action_gcode:
    {% set current_value = printer["wizard_step_slider CHANGE_MATERIAL7"].slider1|int %}
    {action_respond_info('-------------------action_gcode %s,  current_value=%s' % (wizard.wizard_step_name, current_value))}
    SET_HEATER_TEMPERATURE HEATER={printer.toolhead.extruder} TARGET={current_value}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL8
    M109 S{current_value}
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % (wizard.wizard_step_name, ))}
    RESET_WIZARD WIZARD={wizard.name}

# ---------------------------------------------------------------------------step8

[wizard_step CHANGE_MATERIAL8]  # !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! placeholder: 'wizard-step-preheat',
image: wizards/change_material/change_material.jpg
landscape: false
description: Load new spool insert material into bowden tube and press Next button
warning: none
countdown: 0
info: none
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name, ))}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL9
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % wizard.wizard_step_name)}
    RESET_WIZARD WIZARD={wizard.name}

# ---------------------------------------------------------------------------step9

[wizard_step_button CHANGE_MATERIAL9] # !!!!!!!!!!!!!!!!!!!!!!!!!!!!!               placeholder: 'wizard-step-preheat',
image: wizards/change_material/change_material04.jpg
landscape: false
description: Press Load and gently feed the filament into the Teflon tube by hand Feed the filament by hand until you feel the extruder pull on the filament by itself Press Load until you see material coming out of the nozzle
warning: none
countdown: 0
info: none
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name))}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL11
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % wizard.wizard_step_name)}
    RESET_WIZARD WIZARD={wizard.name}
button_retract_gcode:
    {action_respond_info('-------------------button_retract_gcode')}
    RETRACT_MATERIAL
button_load_gcode:
    {action_respond_info('-------------------button_load_gcode')}
    LOAD_MATERIAL
button_insert_gcode:
    {action_respond_info('-------------------button_insert_gcode')}
    INSERT_MATERIAL

# ---------------------------------------------------------------------------step10

# FOR FIBER
[wizard_step_button CHANGE_MATERIAL10] # !!!!!!!!!!!!!!!!!!!!!!!!!!!!!               placeholder: 'wizard-step-preheat',
image: wizards/change_material/change_material04.jpg
landscape: false
description: Wait for heatup and Load fiber and try to cut it by pressing Cut Fiber Fot better results repeat this procedure up to 3 times
warning: none
countdown: 0
info: none
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name))}
    SET_WIZARD_STEP WIZARD={wizard.name} STEP=CHANGE_MATERIAL11
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % wizard.wizard_step_name)}
    RESET_WIZARD WIZARD={wizard.name}
button_retract_gcode:
    {action_respond_info('-------------------button_retract_gcode')}
    RETRACT_MATERIAL
button_load_gcode:
    {action_respond_info('-------------------button_load_gcode')}
    LOAD_MATERIAL

# ---------------------------------------------------------------------------step11

[wizard_step CHANGE_MATERIAL11]
image: wizards/change_material/change_material.jpg
landscape: false
description: Material change completed
warning: none
countdown: 0
info: none
action_gcode:
    {action_respond_info('-------------------action_gcode %s' % (wizard.wizard_step_name))}
    TURN_OFF_HEATERS
    RESET_WIZARD WIZARD={wizard.name}
    G28
cancel_gcode:
    {action_respond_info('------------------cancel_gcode %s' % wizard.wizard_step_name)}
    RESET_WIZARD WIZARD={wizard.name}
