[fan_generic chamber_fan]
pin: PA8

[temperature_fan bottom_fan]
pin: PD13
sensor_type: temperature_host
control: pid
pid_Kp: 15
pid_Ki: 0.5
pid_Kd: 25
min_temp: 0
max_temp: 90
target_temp: 45.0
min_speed: 0.0
gcode_id: E

[gcode_macro M106]
rename_existing: M106.1
gcode:
    {% set p = params.P|default(0)|int %}
    {% set s = params.S|default(0)|int %}
    {% if p > 0 %}
        {% if p == 3 %}
            SET_FAN_SPEED FAN=chamber_fan SPEED={params.S|default(0)|int / 255}
        {% endif %}
    {% else %}
        M106.1 S{s}
    {% endif %}

[gcode_macro M107]
rename_existing: M107.1
gcode:
    {% set p = params.P|default(0)|int %}
    {% if p > 0 %}
        {% if p == 3 %}
            SET_FAN_SPEED FAN=chamber_fan SPEED=0.0
        {% endif %}
    {% else %}
        M107.1
    {% endif %}

# LED Light controls

[led case_led]
white_pin: case_led
initial_WHITE: 1

[neopixel status_led]
pin: status_led
chain_count: 44
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1.0

[delayed_gcode startup_light]
initial_duration: 0.1
gcode:
    SET_LED_EFFECT EFFECT=startup REPLACE=1 FADETIME=0
    SET_LED_EFFECT EFFECT=maintenance REPLACE=1 FADETIME=6.0

[gcode_macro TOGGLE_LIGHT]
gcode:
    {% if printer.led.color_data > 0 %}
        SET_LED WHITE=0
    {% else %}
        SET_LED WHITE=1
    {% endif %}

[gcode_macro STATUS_LED]
gcode:
    {% set status = params.STATUS|default(printing) %}
    {% if status == "started" %}
        {% set heater = params.HEATER|default(extruder) %}
        SET_LED_EFFECT EFFECT=heatup_{heater} REPLACE=1 FADETIME=2.0
    {% else %}
        SET_LED_EFFECT EFFECT={status} REPLACE=1 FADETIME=2.0
    {% endif %}

[led_effect startup]
autostart: true
leds:
    neopixel:status_led
layers:
    comet  0.7 10 add (0, 1, 1), (0, .5, .5), (0, 0, 0)
    comet -0.7 10 add (0, 1, 1), (0, .5, .5), (0, 0, 0)

[led_effect maintenance]
leds:
    neopixel:status_led
layers:
    static 0 0 add (0, 1, 1)

[led_effect idle]
leds:
    neopixel:status_led
layers:
    linearfade 5 0 add (0, 1, 1), (0, .5, .5)

[led_effect heatup_extruder]
leds:
    neopixel:status_led
layers:
    linearfade   5 0   multiply (1, 1, 1), (.5, .5, .5)
    temperature 20 100 add      (0, 0, 1), (1, 0, 1)
heater: extruder

[led_effect heatup_extruder1]
leds:
    neopixel:status_led
layers:
    linearfade   5 0   multiply (1, 1, 1), (.5, .5, .5)
    temperature 20 100 add      (0, 0, 1), (1, 0, 1)
heater: extruder1

[led_effect heatup_heater_bed]
leds:
    neopixel:status_led
layers:
    linearfade   5 0   multiply (1, 1, 1), (.5, .5, .5)
    temperature 20 100 add      (0, 0, 1), (1, 0, 1)
heater: heater_bed

[led_effect printing]
leds:
    neopixel:status_led
layers:
    linearfade 5 0 multiply (1, 1, 1), (.5, .5, .5)
    progress  99 0 add      (0, .6, .6), (0, 1, 1)
    static     0 0 add      (.1, .1, .1)

[led_effect paused]
leds:
    neopixel:status_led
layers:
    progress 99 0 add (.6, .6, 0), (1, 1, 00)
    static    0 0 add (.1, .1, .1)

[led_effect error_pause]
leds:
    neopixel:status_led
layers:
    linearfade 5  0 multiply (1, 1, 1), (.5, .5, .5)
    progress   99 0 add      (.6, .6, 0), (1, 1, 0)
    static      0 0 add      (.1, .1, .1)

[led_effect cancelled]
leds:
    neopixel:status_led
layers:
    progress 99 0 add (.6, 0, 0), (1, 0, 0)
    static    0 0 add (.1, .1, .1)

[led_effect error]
run_on_error: true
leds:
    neopixel:status_led (1-7)
layers:
    strobe .6 .1 top (1, 0, 0)

[led_effect completed]
leds:
    neopixel:status_led
layers:
    linearfade 5 0 add (0, 1, 0), (0, .5, 0)
