[save_variables]
filename: ~/klipper/vars.cfg

[delayed_gcode LOAD_VARIABLES]
initial_duration: 1.0
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set z_offset = svv.z_offset|default(0.0) %}
    {% set a_offset = svv.a_offset|default(0.0) %}
    SET_GCODE_OFFSET Z={z_offset} A={a_offset}
    {% for wcs in range(1, 6) %}
        {% set wcs_x = "wcs_x" %}
        {% set wcs_y = "wcs_y" %}
        {% set wcs_z = "wcs_z" %}
        G10 L2 P{wcs+1} X{svv["wcs" ~ wcs ~ "_x"]|default(0.0)} Y{svv["wcs" ~ wcs ~ "_y"]|default(0.0)} Z{svv["wcs" ~ wcs ~ "_z"]|default(0.0)}
    {% endfor %}
    SET_GCODE_VARIABLE MACRO=SET_NOZZLE_OFFSET VARIABLE=offset_x VALUE={svv.nozzle_x_offset|default(0.0)}
    SET_GCODE_VARIABLE MACRO=SET_NOZZLE_OFFSET VARIABLE=offset_y VALUE={svv.nozzle_y_offset|default(0.0)}
    {% if printer.probe %}
        {% set probe_offsets = printer.probe.offsets %}
        Z_OFFSET_APPLY_PROBE X={svv.probe_offset_x|default(probe_offsets[0])} Y={svv.probe_offset_y|default(probe_offsets[1])} Z={svv.probe_offset_z|default(probe_offsets[2])} FROM_VARS=1

        B_AXIS_COMPENSATION_VARS B={svv.b_angle|default(0.0)} X={svv.rot_center_x|default(0.0)} Z={svv.rot_center_z|default(0.0)}
        {% for key, profile in printer.bed_mesh.profiles.items() %}
            {% if svv[key ~ '_0_0'] %}
                BED_MESH_PROFILE ADD={key} POINT_0_0={svv[key ~ '_0_0']} POINT_0_1={svv[key ~ '_0_1']} POINT_0_2={svv[key ~ '_0_2']} POINT_0_3={svv[key ~ '_0_3']} POINT_0_4={svv[key ~ '_0_4']} POINT_0_5={svv[key ~ '_0_5']} POINT_1_0={svv[key ~ '_1_0']} POINT_1_1={svv[key ~ '_1_1']} POINT_1_2={svv[key ~ '_1_2']} POINT_1_3={svv[key ~ '_1_3']} POINT_1_4={svv[key ~ '_1_4']} POINT_1_5={svv[key ~ '_1_5']} POINT_2_0={svv[key ~ '_2_0']} POINT_2_1={svv[key ~ '_2_1']} POINT_2_2={svv[key ~ '_2_2']} POINT_2_3={svv[key ~ '_2_3']} POINT_2_4={svv[key ~ '_2_4']} POINT_2_5={svv[key ~ '_2_5']} POINT_3_0={svv[key ~ '_3_0']} POINT_3_1={svv[key ~ '_3_1']} POINT_3_2={svv[key ~ '_3_2']} POINT_3_3={svv[key ~ '_3_3']} POINT_3_4={svv[key ~ '_3_4']} POINT_3_5={svv[key ~ '_3_5']} POINT_4_0={svv[key ~ '_4_0']} POINT_4_1={svv[key ~ '_4_1']} POINT_4_2={svv[key ~ '_4_2']} POINT_4_3={svv[key ~ '_4_3']} POINT_4_4={svv[key ~ '_4_4']} POINT_4_5={svv[key ~ '_4_5']} POINT_5_0={svv[key ~ '_5_0']} POINT_5_1={svv[key ~ '_5_1']} POINT_5_2={svv[key ~ '_5_2']} POINT_5_3={svv[key ~ '_5_3']} POINT_5_4={svv[key ~ '_5_4']} POINT_5_5={svv[key ~ '_5_5']}
            {% endif %}
        {% endfor %}
        {% for key, value in printer.skew_correction.skew_profiles.items() %}
            {% if svv[key ~ '_xy_skew'] %}
                SKEW_PROFILE CHANGE={key} XY={svv[key ~ '_xy_skew']} XZ={svv[key ~ '_xz_skew']} YZ={svv[key ~ '_yz_skew']}
            {% endif %}
        {% endfor %}
        SET_PROBE_BACKLASH BACKLASH_X={svv.probe_backlash_x|default(0.0)|float} BACKLASH_Y={svv.probe_backlash_y|default(0.0)|float} BACKLASH_Y_2={svv.probe_backlash_y_2|default(0.0)|float}
        ; load settings for apply and measuring skew_compensation
        SET_GCODE_VARIABLE MACRO=SETTINGS_APPLY_SKEW VARIABLE=apply_skew VALUE={svv.apply_skew|default(0)}
        SET_GCODE_VARIABLE MACRO=SETTINGS_MEASURE_SKEW VARIABLE=measure_skew VALUE={svv.measure_skew|default(0)}
    {% endif %}
    {% for heater in printer.heaters.available_heaters %}
        {% if 'extruder' in heater %}
            {% if printer["filament_motion_sensor" ~ " " ~ heater ~ "_sensor"] %}
                SET_FILAMENT_SENSOR SENSOR={heater ~ '_sensor'} ENABLE={svv[heater ~ '_sensor']|default(1)}
            {% endif %}
        {% endif %}
    {% endfor %}

[gcode_macro SAVE_VARIABLES]
gcode:
    SAVE_VARIABLE VARIABLE=z_offset VALUE={printer.gcode_move.homing_origin.z}
    SAVE_VARIABLE VARIABLE=a_offset VALUE={printer.gcode_move.homing_origin.a}
    {% for wcs in range(6) %}
        SAVE_VARIABLE VARIABLE=wcs{wcs}_x VALUE={printer.gcode_move.wcs_offsets[wcs][0]}
        SAVE_VARIABLE VARIABLE=wcs{wcs}_y VALUE={printer.gcode_move.wcs_offsets[wcs][1]}
        SAVE_VARIABLE VARIABLE=wcs{wcs}_z VALUE={printer.gcode_move.wcs_offsets[wcs][2]}
    {% endfor %}
    SAVE_VARIABLE VARIABLE=nozzle_x_offset VALUE={printer["gcode_macro SET_NOZZLE_OFFSET"].offset_x}
    SAVE_VARIABLE VARIABLE=nozzle_y_offset VALUE={printer["gcode_macro SET_NOZZLE_OFFSET"].offset_y}
    {% if printer.probe %}
        {% for key, profile in printer.bed_mesh.profiles.items() %}
            {% set points = profile['points'] %}
            {% for row in range(6) %}
                {% for col in range(6) %}
                    SAVE_VARIABLE VARIABLE={key}_{row}_{col} VALUE={points[row][col]}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        SAVE_VARIABLE VARIABLE=b_angle VALUE={printer.b_axis_compensation.b_angle}
        SAVE_VARIABLE VARIABLE=rot_center_x VALUE={printer.b_axis_compensation.rot_center_x}
        SAVE_VARIABLE VARIABLE=rot_center_z VALUE={printer.b_axis_compensation.rot_center_z}

        {% for key, value in printer.skew_correction.skew_profiles.items() %}
            SAVE_VARIABLE VARIABLE={key}_xy_skew VALUE={value['xy_skew']}
            SAVE_VARIABLE VARIABLE={key}_xz_skew VALUE={value['xz_skew']}
            SAVE_VARIABLE VARIABLE={key}_yz_skew VALUE={value['yz_skew']}
        {% endfor %}
        SAVE_VARIABLE VARIABLE=probe_offset_x VALUE={printer.probe.offsets[0]}
        SAVE_VARIABLE VARIABLE=probe_offset_y VALUE={printer.probe.offsets[1]}
        SAVE_VARIABLE VARIABLE=probe_offset_z VALUE={printer.probe.offsets[2]}

        SAVE_VARIABLE VARIABLE=probe_backlash_x VALUE={printer.auto_wcs.probe_backlash_x}
        SAVE_VARIABLE VARIABLE=probe_backlash_y VALUE={printer.auto_wcs.probe_backlash_y}
        SAVE_VARIABLE VARIABLE=probe_backlash_y_2 VALUE={printer.auto_wcs.probe_backlash_y_2}
    {% endif %}
