# WARNING!
#   for added new recuirements use the command  "klippy-env/bin/pip freeze --all > scripts/klippy-requirements.txt"
#   and remove row the pkg-resources==0.0.0
aenum==3.1.15
cffi==1.14.6
greenlet==2.0.2
Jinja2==2.11.3
MarkupSafe==1.1.1
pip==20.3.4
pycparser==2.21
pyserial==3.4
python-can==3.3.4
setuptools==44.1.1
typing==3.10.0
wheel==0.37.1
wrapt==1.15.0
