[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu second_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5800260019504B5735313920-if00
restart_method: command

[virtual_sdcard]
path: /home/ste/uploads

[display_status]

[include config/ender/kinematics.cfg]
[include config/ender/kinematics_tmc.cfg]
[include config/ender/homing_override.cfg]
[include config/common/homing_macros.cfg]

[include config/ender/main_extruder.cfg]
[include config/ender/module_3d.cfg]
[include config/ender/module_3d_macros.cfg]
[include config/ender/module_5d.cfg]

[include config/ender/print_macros.cfg]
[include config/ender/extruder_macros.cfg]
[include config/ender/variables.cfg]

# sections probe
# [include config/calibrate/probe_5-4-22.cfg]
# [include config/calibrate/probe_3d.cfg]
# [include config/calibrate/probe_5d.cfg]
# [include config/calibrate/probe_5d_tool.cfg]
# [include config/calibrate/probe_5d_template.cfg]
# [include config/calibrate/probe_v1.cfg]
# [include config/calibrate/probe_v2.cfg]

[gcode_macro CONSTANTS]
description: Holds printer constants
variable_probe_a_horizontal: 200, 200, 200
variable_probe_a_vertical:200, 200, 200
variable_offsets_sensor: -42.3, -48.14, 0.0
variable_extruder_load_length: 130
variable_extruder1_load_length: 1670
gcode:
